 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 503px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 2.25rem;
  margin: 32px auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 203px;
  transform-origin: left center;
  margin: 16px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 561px;
  height: 250px;
  margin: 64px 56px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  background-image: none;
  font-size: 3.75rem;
  margin: -212px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-1 .u-line-1 {
    width: 160px;
    margin-top: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 217px;
    margin-top: 97px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 3rem;
    margin-top: -202px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-line-1 {
    width: 133px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
    margin-right: -160px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-line-1 {
    width: 135px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 87px;
    margin-right: -250px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-line-1 {
    width: 101px;
  }

  .u-section-1 .u-image-1 {
    width: 371px;
    height: 165px;
    margin-top: 58px;
    margin-right: -201px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -143px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 565px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 375px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: -267px 31px 60px 595px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 309px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -207px;
    margin-right: 45px;
    margin-left: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 237px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -159px;
    margin-right: 0;
    margin-left: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-2 .u-image-1 {
    width: 296px;
    height: 195px;
    margin-top: 2px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -127px;
    margin-left: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-image-1 {
    width: 219px;
    height: 144px;
    margin-top: 16px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -87px;
    margin-right: -82px;
    margin-left: 200px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 423px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 325px;
  margin: 49px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 500;
  margin: -215px auto 198px 71px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 268px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -158px;
    margin-left: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 205px;
    margin-top: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    height: 154px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -107px;
    margin-right: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-3 .u-image-1 {
    width: 213px;
    height: 122px;
    margin-right: -43px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -95px;
    margin-right: 106px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 565px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 375px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: -267px 31px 60px 595px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 309px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -207px;
    margin-right: 45px;
    margin-left: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 237px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -159px;
    margin-right: 0;
    margin-left: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4 .u-image-1 {
    width: 296px;
    height: 195px;
    margin-top: 2px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -127px;
    margin-left: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-image-1 {
    width: 219px;
    height: 144px;
    margin-top: 16px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -87px;
    margin-right: -82px;
    margin-left: 200px;
  }