 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 595px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 2.25rem;
  margin: 36px auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 186px;
  transform-origin: left center;
  margin: 7px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 404px;
  margin: 36px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: -287px 152px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: -288px;
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    width: 400px;
    height: 283px;
    margin-top: 65px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -172px;
    margin-right: 0;
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 39px;
  }

  .u-section-1 .u-line-1 {
    width: 155px;
  }

  .u-section-1 .u-image-1 {
    width: 278px;
    height: 203px;
    margin-top: 70px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -142px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-line-1 {
    width: 108px;
  }

  .u-section-1 .u-image-1 {
    width: 207px;
    height: 146px;
    margin-top: 55px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -109px;
    margin-bottom: 104px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 434px;
}

.u-section-2 .u-image-1 {
  width: 354px;
  height: 432px;
  margin: 0 264px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: -283px auto 60px 205px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 292px;
    height: 357px;
    margin-top: 28px;
    margin-right: 203px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -207px;
    margin-left: 49px;
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-2 .u-image-1 {
    width: 284px;
    height: 346px;
    margin-top: -35px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -195px;
    margin-bottom: 129px;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-2 .u-image-1 {
    width: 195px;
    height: 140px;
    margin-top: 15px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -92px;
    margin-bottom: 60px;
    margin-left: 46px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 434px;
}

.u-section-3 .u-image-1 {
  width: 354px;
  height: 432px;
  margin: 0 auto 0 29px;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: -282px 289px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -255px;
    margin-right: 123px;
    margin-bottom: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-image-1 {
    width: 332px;
    height: 406px;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -242px;
    margin-right: 55px;
    margin-bottom: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-3 .u-image-1 {
    width: 283px;
    height: 345px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 45px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-3 .u-image-1 {
    width: 154px;
    height: 188px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -113px;
    margin-right: 17px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 434px;
}

.u-section-4 .u-image-1 {
  width: 426px;
  height: 432px;
  margin: 0 264px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: -282px auto 60px 205px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -227px;
    margin-left: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-4 .u-image-1 {
    width: 358px;
    height: 363px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -172px;
    margin-left: 145px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-4 .u-image-1 {
    width: 311px;
    height: 315px;
    margin-top: 1px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -171px;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-4 .u-image-1 {
    width: 196px;
    height: 199px;
    margin-top: 0;
    margin-left: 54px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -97px;
    margin-left: 35px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 434px;
}

.u-section-5 .u-image-1 {
  width: 409px;
  height: 432px;
  margin: 0 auto 0 -26px;
}

.u-section-5 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: -282px 289px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -235px;
    margin-right: 146px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-5 .u-image-1 {
    width: 364px;
    height: 343px;
    margin-left: -49px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -176px;
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-5 .u-image-1 {
    width: 313px;
    height: 295px;
    margin-left: -43px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -130px;
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-5 .u-image-1 {
    width: 203px;
    height: 191px;
    margin-left: -50px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -93px;
    margin-right: 17px;
  }
}