/* .section3{
	width: calc(100% - 40px);
	height: calc(100vh - 80px);
	padding: 20px;
	color: white;
}

.gallery {
	position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}


.gallery__img {
	
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  z-index: 1;
}

.gallery__img {
  display: block;
  cursor: pointer;
}


.gallery__item--1 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;

}
.image__overlay{
  
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.06);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
.image__title{
  font-size: 2em;
  font-weight: bold;
}
.image__description{
  font-size: 1.25em;
  margin-top: 0.25em;
}
.gallery__item--1 img:hover {
  transform: scale(1.1);
}

.gallery__item--2 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;

}
.gallery__item--2 img:hover {
  transform: scale(1.1);
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  overflow: hidden;

}
.gallery__item--3 img:hover {
  transform: scale(1.1);
}
.gallery__item--3 h3{
	position: absolute;
    top: 74px;
    right: 93px;
}

.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 6;
  overflow: hidden;

}
.gallery__item--4 img:hover {
  transform: scale(1.1);
} */


/* 
.image{
    position: relative;
    width:400px;
}

.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.808); 
     color: #ffffff; 
     font-family: 'Quicksand', sans-serif;
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__overlay:hover > *{
    transform: translateY(0);
}
.image__title{
    font-size: 2em;
    font-weight: bold;
  }
  .image__description{
    font-size: 1.25em;
    margin-top: 0.25em;
  } */

.konten-gambar{
    margin: 20px;
    padding: 0;
    text-align: center;
}
.container-produk{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}
.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.gallery-item:hover .image img{
    transform: scale(1.5);

}

.gallery-item .text{
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(4px) saturate(1.8);
    backdrop-filter: blur(4px) saturate(2.8);
}
.gallery-item:hover .text{
    opacity: 1;
    animation: move-center .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}

.h-1{
    grid-row:span 1;
    grid-column: span 2;
}
.h-2{
    grid-row:span 2;
}
.h-3{
    grid-row:span 3;
}
.h-4{
    grid-row:span 4;
}


@media screen and (max-width:500px){

    .container-produk{
        grid-template-columns: repeat(2,1fr);
    }
    
}





@keyframes move-down{
    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}